<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FutureHTTP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FutureHTTPMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>899B7CF61E8CC94A0067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7CFF1E8CC94A0067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D151E8CC9560067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D1D1E8CC9560067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D311E8CC9770067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D391E8CC9770067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D4D1E8CC9C10067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D5A1E8CC9D80067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D621E8CC9D80067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D761E8CC9F10067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899B7D7E1E8CC9F10067ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
